@import url("https://fonts.googleapis.com/css?family=Libre+Franklin&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box; }

html {
  /*10px = 1rem*/
  font-size: 62.5%; }

@media only screen and (max-width: 900px) {
  /* Tablet */
  html {
    /* 1rem = 10px */
    font-size: 56.25%; } }

@media only screen and (max-width: 600px) {
  /* Mobile */
  html {
    /* 1rem = 10px */
    font-size: 50%; } }

body {
  font-family: "Libre Franklin"; }

@media only screen and (min-width: 1200px) {
  html {
    font-size: 75%; } }
