/*size*/
/*weights*/
@import url("https://fonts.googleapis.com/css?family=Libre+Franklin&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box; }

html {
  /*10px = 1rem*/
  font-size: 62.5%; }

@media only screen and (max-width: 900px) {
  /* Tablet */
  html {
    /* 1rem = 10px */
    font-size: 56.25%; } }

@media only screen and (max-width: 600px) {
  /* Mobile */
  html {
    /* 1rem = 10px */
    font-size: 50%; } }

body {
  font-family: "Libre Franklin"; }

.header {
  margin-top: 8rem; }
  .header .header__head {
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 700; }
    .header .header__head .header--txt {
      color: #151f29; }
    .header .header__head .header--punc {
      color: #4f7df3; }
  .header .header__info {
    font-weight: 300; }
    .header .header__info .header__info--big {
      font-size: 3rem; }
      .header .header__info .header__info--big .info--grey {
        color: #969696; }
        .header .header__info .header__info--big .info--grey .info--dark-blue {
          color: #151f29;
          font-weight: 700; }
  .header .header__info--small {
    font-size: 1.5rem;
    margin: 2rem 0 3rem 0; }
  .header .header__form .btn {
    font-size: 1.6rem; }

@media only screen and (min-width: 1200px) {
  html {
    font-size: 75%; }
  .header {
    margin-top: 4rem; }
    .header .header__info .header__info--big {
      font-size: 4.5rem; }
    .header .header__info--small {
      font-size: 1.8rem;
      margin: 2rem 0 3rem 0; } }

.header .header__logo {
  width: 100vw;
  height: 2vh;
  margin-bottom: 5rem;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../images/logo.svg");
  background-size: contain; }

@media only screen and (min-width: 1200px) {
  html {
    font-size: 75%; }
  .header .header__logo {
    margin-bottom: 2rem; } }

.header__form {
  display: flex;
  flex-direction: column; }
  .header__form .btn {
    width: 75vw;
    height: 5vh; }
  .header__form .header__form-input {
    width: 75vw;
    height: 5vh; }

@media only screen and (min-width: 768px) {
  html {
    font-size: 75%; }
  .header__form {
    display: flex;
    flex-direction: row;
    width: 40vw; }
    .header__form .header__form-input {
      margin-right: 1rem;
      width: 27vw; }
    .header__form .btn {
      width: 12vw;
      height: 4.2rem; } }

.header__form .btn {
  background: #4f7df3;
  color: #fff;
  border: none;
  outline: none;
  box-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.header__form .btn--round {
  border-radius: 3rem; }

.validate {
  display: none; }

.error {
  display: block;
  color: #ff7a88;
  font-size: 1.5rem;
  text-align: center;
  font-style: italic;
  margin-bottom: 3rem; }

@media only screen and (min-width: 1200px) {
  html {
    font-size: 75%; }
  .error {
    display: flex;
    margin-left: 2rem; } }

.header__form .header__form-input {
  padding: 2rem 0 2rem 3rem;
  border: 0.1rem solid #bdbdbd;
  outline: none;
  margin-bottom: 1rem; }
  .header__form .header__form-input::placeholder {
    color: #e3e3e3; }

.header__form .header__form-input--round {
  border-radius: 3rem; }

@media only screen and (min-width: 1200px) {
  html {
    font-size: 75%; }
  .header__form-input {
    padding-left: 2rem !important; } }

.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .container .header {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center; }
  .container .dashboard {
    display: flex;
    justify-content: center; }

.dashboard {
  margin: 8rem 0 10rem 0; }
  .dashboard .board img {
    max-width: 75vw;
    height: auto; }

@media only screen and (min-width: 1200px) {
  html {
    font-size: 75%; }
  .dashboard {
    margin: 6rem 0 10rem 0; }
    .dashboard .board img {
      max-width: 40vw;
      height: auto; } }
