.container {
  display: flex;

  .header {
    width: 100vw;
    display: flex;
    flex-direction: column;
    text-align: center;

    .header__head {
      margin-bottom: 3rem;
    }

    .header__info--small {
      margin: 2rem 0 3rem 0;
    }

    .header__form {
      .header__form-input,
      .btn {
        display: inline-block;
        justify-self: center;
      }
    }

    .footer {
      display: flex;
      justify-content: center;
    }
  }
}
