.header__form {
  .btn {
    background: $primary-color-blue;
    color: #fff;
    border: none;
    outline: none;
    box-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);

    &:hover {
      background: lighten($color: $primary-color-blue, $amount: 5);
    }
  }

  .btn--round {
    border-radius: 3rem;
  }
}
