.validate {
  display: none;
}

.error {
  display: block;
  color: $secondary-color-light-red;
  font-size: 1.5rem;
  text-align: center;
  font-style: italic;
  margin-bottom: 3rem;
}

@media only screen and (min-width: $desktop-size) {
  html {
    font-size: $desktop-font-size;
  }

  .error {
    display: flex;
    margin: 0 2rem 0 0;
  }
}
