.header__form {
  display: flex;
  flex-direction: column;
  .btn {
    @include formStyle;
  }

  .header__form-input {
    margin-bottom: 1rem;
    @include formStyle;
  }
}

@media only screen and (min-width: 768px) {
  html {
    font-size: $desktop-font-size;
  }

  .header__form {
    display: flex;
    flex-direction: row;
    width: 50vw;
    // height: 5vh;

    .header__form-input {
      margin-right: 1rem;
      width: 33vw;
    }
    .btn {
      width: 16vw;
    }
  }
}
