.header__form {
  .btn {
    // width: 75vw;
    height: 4.5vh;
  }

  .header__form-input {
    margin-bottom: 1rem;
  }
}

@media only screen and (min-width: 768px) {
  .header__form {
    display: flex;
    height: 5vh;
  }
  .header__form-input {
    margin-right: 1rem;
    width: 60vw;
  }
  .btn {
    width: 15vw;
  }
}
