html {
  /*10px = 1rem*/
  font-size: $root-font-size;
}

@media only screen and (max-width: $tablet-size) {
  /* Tablet */
  html {
    /* 1rem = 10px */
    font-size: $tablet-font-size;
  }
}

@media only screen and (max-width: $mobile-size) {
  /* Mobile */
  html {
    /* 1rem = 10px */
    font-size: $mobile-font-size;
  }
}

body {
  font-family: "Libre Franklin";
}

.header {
  .header__head {
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 700;

    .header--txt {
      color: $neutral-color-very-dark-blue;
    }

    .header--punc {
      color: $primary-color-blue;
    }
  }

  .header__info {
    font-weight: 300;
    .header__info--big {
      font-size: 3rem;

      .info--grey {
        color: $neutral-color-gray;

        .info--dark-blue {
          color: $neutral-color-very-dark-blue;
          font-weight: 700;
        }
      }
    }
  }

  .header__info--small {
    font-size: 1.5rem;
  }

  .header__form {
    .btn {
      font-size: 1.6rem;
    }
  }
}

@media only screen and (min-width: $desktop-size) {
  html {
    font-size: $desktop-font-size;
  }

  .header {
    .header__info {
      .header__info--big {
        font-size: 3.5rem;
      }
    }

    .header__info--small {
      font-size: 1.5rem;
    }

    .header__form {
      .btn {
        font-size: 1.3rem;
      }
    }
  }
}
